.checkout{
	display: flex; 
	background-color: white;
	padding: 20px;
	height: max-content;
}

.checkout__title{
	margin-right: 10px; 
	padding: 10px; 
	border-bottom: 1px solid lightgray;
}

.checkout__ad{
	width: 100%;
/*	margin-top: 10px;*/
	margin-bottom: 10px;
}

