.header {
	background-color: #131921;
	display: flex;
	align-items: center;
}

.header__logo {
	width: 100px;
	margin: 0 20px ;
	margin-top: 18px;
	object-fit: contain;
}

.header__search{
	display:flex;
	flex: 1;
}

.header__searchIcon{
	background-color: #cd9042;
	padding: 5px;
	height: 22px !important;
}

.header__searchInput{
	height: 12px; 
	padding:10px;
	border: none;
	width: 100%;
}
.header__nav{
	display: inline;
}

.header__link{
}

.header__option{

}